* {
    margin: 0;
    padding: 0;
}
 real, .ori {
    height: 120px;
    color:rgb(60, 109, 180);
    font-family:'Trebuchet MS';
    font-style:inherit;
    font-size:45px;
    margin-left: 150px;
 }
hello, .ese {
    margin-left: 282px;
    font-size: 20px;
    color:rgba(100, 194, 237, 0.849);
}
header {
    background-color: cornflowerblue;
    padding-top: 45px;
    padding-bottom: 40px;
}
/*.cont {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background-color: rgb(80, 226, 43);
    width:100%;
    height: 80px;
}
.one {
    background-color: blue;
    height: 80px;
    width: 13%;
    position: relative;
}
.two {
    background-color: rgb(119, 0, 255);
    height: 80px;
    width: 13%;
    position: relative;
}
.three {
    background-color: rgba(0, 255, 213, 0.301);
    height: 80px;
    width: 13%;
    position: relative;
}
.four {
    background-color: rgb(255, 0, 140);
    height: 80px;
    width: 13%;
    position: relative;
}
.five {
    background-color: rgba(255, 238, 0, 0.959);
    height: 80px;
    width: 13%;
    position: relative;
}
a {
    margin-left: 13px;
    color: white;
    position: absolute;
    top: 50px;
    left: 40px;
    margin: -20px 0 0 -20px;
    text-decoration: none;
}
.cont .one a {
    left: 97px;
}
.cont .five a {
    left: 70px;
}
.cont .four a {
    left: 35px;
}
.three :hover {
color:brown;
}

.slider-container{
    display: flex;
    align-items: center;
    flex-direction: row;
    /* flex-wrap: wrap; */
    /* overflow-x: scroll;
    scroll-snap-type: x mandatory;
} 

.slider-container img {
    height: 400px;
    width: 100%;
    flex-shrink: 0;
} */
.nav-list {
    display: flex;
    background-color:rgb(0, 89, 255);
    height: 50px;
    justify-content: center;
    align-items: center;
    gap: 90px;
    overflow: hidden;
}
.nav-list li {
    height: 50px;
    padding-top: 25px;
    list-style-type: none;
}
.nav-list li a{
    /* margin: 10px;
    font-size: 15px;
    align-items:center;
    flex-grow: 1;
    flex-shrink: 1;
    width: 50%;
    height: 50px; */ 
    text-decoration: none;
    color:white;
}
.nav-list li:hover {
    background: orangered;
} 
.right {
    background-color: rgb(0, 0, 0);
    height: 38px;
    width: 100%;
    font-size: x-large;
    padding-top: 9px;
    justify-content: center;
    align-items: center;
    padding-bottom: 15px;
}
.first{
    color: white;
    text-align: center;
    margin-left: 80px;
}
/* .gbefun {
    float: right;
    margin-top: -38px;
    margin-right: 200px;
} */
.size {
    font-size:40px;
    /* margin-top: -10px;
    float: right;
    margin-right: 639px; */
    color: yellow;
}
/* .ok {
    margin-top: -35.6px;
    float: right;
    margin-right: 516px; 
} */
.slate-list {
    float: right;
    display:flex;
    gap: 120px;
    height: 90%;
    list-style: none;
    margin-right: 20%;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color:white;
    font-size: 20px;
    /* margin-bottom: 10px; */
}
.sub-list {
    list-style: none;
    opacity: .5;
    text-decoration: none;
    position: fixed;
}
.sub-list li a {
text-decoration: none;
}
.sub-list li {
display: none;
}
.mob a {
    color: white;
    text-decoration: none;
    text-align: center;
}
.mobi :hover{
    background-color: rgb(0, 140, 255);
}
.mobii :hover{
    background-color: rgb(0, 140, 255);
}
.mobiii :hover{
    background-color: rgb(0, 140, 255);
} 
.mobiiii :hover{
    background-color:rgb(0, 140, 255);
}
.mob:hover .sub-list li{
    display: block;
}
.under{
    width: 100%;
    background-color:rgba(0, 0, 0, 0.377);
    height:150px;
}
.loves {
    height: 320px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 60px;
    background-color: chartreuse;
}
.loved {
    width: 50%;
    height: 145px;
    margin: 0px;
    margin-left: 60px;
    margin-bottom: 20px;
}
.euro {
    margin-left: 140px; 
    margin-bottom: 20px;
    font-size:18px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.tyga {
    margin-left: 140px; 
    margin-bottom: 20px;
    font-size:18px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.gudda {
    margin-left: 140px; 
    margin-bottom: 20px;
    font-size:18px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.jayz .khaled .diddy {
  color:brown;
}
.kanye {
    height: 300px;
    width: 60%;
    padding-top: 20px;
}
.wayne {
    height: 300px;
    width: 60%;
    padding-top: 20px;
}
.ross {
    height: 300px;
    width: 60%;
    padding-top: 20px;
}
/* @media screen and (min-width: 320px) and
 (max-width: 767px) {
.right {
    background-color: rgb(0, 0, 0);
    height: 38px;
    width: 100%;
    font-size: x-large;
    padding-top: 9px;
    justify-content: center;
    align-items: center;
    padding-bottom: 15px;
   }
} */

/* reponsive  table*/
@media(max-width: 960px){
    .right{
    background-color: rgb(0, 0, 0);
    height: 75px;
    width: 100%;
    font-size: x-large;
    padding-top: 3px;
    justify-content: center;
    align-items: center;
    padding-bottom: 5px;

    }
  }

  @media(max-width: 960px){
    .loved{
    width: 45%;
    height: 145px;
    margin-right: 50px;
    margin-left: 50px;
    margin-bottom: 20px;
}
  }

  @media(max-width: 960px){
  .loves {
    height: 440px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 55px;
    background-color: chartreuse;
}
  }

  @media(max-width: 960px){
    .kanye {
    padding-top: 20px;
    width: 29.5%;
    height: 420px;
  }
}
@media(max-width: 960px){
    .wayne {
    padding-top: 20px;
    width: 29.5%;
    height: 420px;
  }
}
@media(max-width: 960px){
    .ross {
    padding-top: 20px;
    width: 29.5%;
    height: 420px;
  }
}
.euro {
    margin-left: 30px; 
    margin-bottom: 20px;
    font-size:14px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.tyga {
    margin-left: 30px; 
    margin-bottom: 20px;
    font-size:14px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.gudda {
    margin-left: 30px; 
    margin-bottom: 20px;
    font-size:14px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}