* {
    margin: 0;
    padding: 0;
}
 real, .ori {
    height: 120px;
    color:rgb(60, 109, 180);
    font-family:'Trebuchet MS';
    font-style:inherit;
    font-size:45px;
    margin-left: 150px;
 }
hello, .ese {
    margin-left: 282px;
    font-size: 20px;
    color:rgba(100, 194, 237, 0.849);
}
header {
    background-color: cornflowerblue;
    padding-top: 45px;
    padding-bottom: 40px;
}
.nav-list {
    display: flex;
    background-color:rgb(0, 89, 255);
    height: 50px;
    justify-content: center;
    align-items: center;
    gap: 90px;
    overflow: hidden;
}
.nav-list li {
    height: 50px;
    padding-top: 25px;
    list-style-type: none;
}
.nav-list li a{
    text-decoration: none;
    color:white;
}
.nav-list li:hover {
    background: orangered;
} 
.right {
    background-color: rgb(0, 0, 0);
    height: 38px;
    width: 100%;
    font-size: x-large;
    padding-top: 9px;
    justify-content: center;
    align-items: center;
    padding-bottom: 15px;
}
.first{
    color: white;
    text-align: center;
    margin-left: 80px;
}
.size {
    font-size:40px;
    color: yellow;
}
.slate-list {
    float: right;
    display:flex;
    gap: 120px;
    height: 90%;
    list-style: none;
    margin-right: 20%;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color:white;
    font-size: 20px;
    /* margin-bottom: 10px; */
}
.sub-list {
    list-style: none;
    opacity: .5;
    text-decoration: none;
    position: fixed;
}
.sub-list li a {
text-decoration: none;
}
.sub-list li {
display: none;
}
.mob a {
    color: white;
    text-decoration: none;
    text-align: center;
}
.mobi :hover{
    background-color: rgb(0, 140, 255);
}
.mobii :hover{
    background-color: rgb(0, 140, 255);
}
.mobiii :hover{
    background-color: rgb(0, 140, 255);
} 
.mobiiii :hover{
    background-color:rgb(0, 140, 255);
}
.mob:hover .sub-list li{
    display: block;
}
.under{
    width: 100%;
    background-color:rgba(0, 0, 0, 0.377);
    height:150px;
}
.loves {
    height: 320px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 60px;
    background-color: chartreuse;
}
.loved {
    width: 50%;
    height: 145px;
    margin: 0px;
    margin-left: 60px;
    margin-bottom: 20px;
}
.euro {
    margin-left: 140px; 
    margin-bottom: 20px;
    font-size:18px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.tyga {
    margin-left: 140px; 
    margin-bottom: 20px;
    font-size:18px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.gudda {
    margin-left: 140px; 
    margin-bottom: 20px;
    font-size:18px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.jayz .khaled .diddy {
  color:brown;
}
.kanye {
    height: 300px;
    width: 60%;
    padding-top: 20px;
}
.wayne {
    height: 300px;
    width: 60%;
    padding-top: 20px;
}
.ross {
    height: 300px;
    width: 60%;
    padding-top: 20px;
}

@media(max-width: 960px){
    .right{
    background-color: rgb(0, 0, 0);
    height: 75px;
    width: 100%;
    font-size: x-large;
    padding-top: 3px;
    justify-content: center;
    align-items: center;
    padding-bottom: 5px;

    }
  }

  @media(max-width: 960px){
    .loved{
    width: 45%;
    height: 145px;
    margin-right: 50px;
    margin-left: 50px;
    margin-bottom: 20px;
}
  }

  @media(max-width: 960px){
  .loves {
    height: 440px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 55px;
    background-color: chartreuse;
}
  }

  @media(max-width: 960px){
    .kanye {
    padding-top: 20px;
    width: 29.5%;
    height: 420px;
  }
}
@media(max-width: 960px){
    .wayne {
    padding-top: 20px;
    width: 29.5%;
    height: 420px;
  }
}
@media(max-width: 960px){
    .ross {
    padding-top: 20px;
    width: 29.5%;
    height: 420px;
  }
}
.euro {
    margin-left: 30px; 
    margin-bottom: 20px;
    font-size:14px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.tyga {
    margin-left: 30px; 
    margin-bottom: 20px;
    font-size:14px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.gudda {
    margin-left: 30px; 
    margin-bottom: 20px;
    font-size:14px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}